<!doctype html>
<html ng-app='app'>
  <head>
    <!-- <script src="./../bower_components/jquery/dist/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  </head>
  <body>

    <!-- Signin -->
    <div ng-controller='AuthController'>
      <input type='button' value='Sign in with github' ng-click='signin()'>
    </div>

    <!-- Queue View -->
    <div ng-controller='QueueController'>
      <div class='queue-container'>
        <div class='ticket' ng-repeat='ticket in data.tickets'>

          <div class='username'> {{ticket.username}} </div>
          <div class='message'> {{ ticket.message }} </div>

        </div>
      </div>

    </div>


    <script src='app/auth/auth.js'></script>
    <script src='app/queue/queue.js'></script>
    <script src='app/helpform/helpform.js'></script>

    <script src="app/services/services.js"></script>
    <script src='app/app.js'></script>
  </body>
</html>
