body {
	font-family: "PT Mono", "Times New Roman", serif;
	background-color: #2d2d2d;
}
h1 {
	color: #7200ac;
	font-size: 50px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-top: 10px;
}

#welcome, #support {
	color: #E8E9F9;
	margin-left: 20px;
}
#support {
	padding-bottom: 30px
}
.list-group {
	height: 500px;
	overflow:auto;
}

.list-group, .input-group {
   width: 450px;
    /*margin: 0 auto;*/
}
.input-group {
	color: #E8E9F9;
	padding-top: 50px;
	display: inline-block;

}


.ticket {
	padding-bottom: 2px;

}
.list-group-item  {
	background-color: #E8E9F9;
}
.form-control {
	background-color: #E8E9F9;
}
.input-text {
	margin-top: 20px;
	width:360px;
	height: 40px;
	background-color: #E8E9F9;
}

.submit {
	width: 80px;
	display: inline
}
.btn {
	color: #613DC1;
}

.btn-1 {
	display: inline;
	float:right;
}

.list-group-item-heading {
	display: inline
}

.ticket-claimed {
	background-color: grey;
}

.ticket-claimed:hover {
	background-color: grey;
}
#queueContainer, #map {
	display: inline-block
}
#big-container {
	width: 70%;
	margin: 0 auto;
}

#map {
	float: right;
	margin-top: -30px;
	position: absolute;
}

.signout {

	float: left;
	margin-top: 30px;
	margin-left: 30%;

}
#signin {
	width: 40%;
		margin: 0 auto;
		text-align:center;
		padding-top: 50px
}

.hiddenDot {
	display: none;
}
.hiddenPulse {
	display: none;
}
.hiddenTicket {
	background-color: #90919B;
}

#holder {
	margin: 50px auto;
	width: 50px;
	height: 50px;
	position: relative;

}
.pulse {
	width: 10px;
	height: 10px;
	/*border: 5px solid #f7f14c;*/
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;/*
	background-color: #716f42;*/
	z-index: 10;
	position: absolute;
	/*left: 15px;
	top: 15px;*/
}
.dot {
	/*border: 10px solid #fff601;*/
	background: transparent;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	height: 40px;
	width: 40px;
	-webkit-animation: pulse 3s ease-out;
	-moz-animation: pulse 3s ease-out;
	animation: pulse 3s ease-out;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	position: absolute;
	top: -15px;
	left: -15px;
	z-index: 1;
	opacity: 0;
}
@-moz-keyframes pulse {
 0% {
	-moz-transform: scale(0.1);
	opacity: 0.0;
 }
 50% {
	opacity: 0.3;
 }
 100% {
	-moz-transform: scale(1);
	opacity: 0.0;
 }
}
@-webkit-keyframes "pulse" {
 0% {
	-webkit-transform: scale(0.1);
	opacity: 0.0;
 }
 50% {
	opacity: 0.3;
 }
 100% {
	-webkit-transform: scale(1);
	opacity: 0.0;
 }
}

footer {
    clear: both;
    position: relative;
    margin-top: 40px;
    margin-bottom: -8px;
    text-align: center;
    font-size: 12px;
    display: block
}


.unsolv {
	width: 80px;
	text-align: center;
	margin-right: 5px;
}

 .solv, .unsolv {
	height: 30px;
	font-size: 12px;
	padding: 0px;
}

.solv {
	width: 50px;
}
