<!-- Queue template -->

<div ng-controller='QueueController'>
 <div class="list-group">
     <div class='ticket' ng-repeat='ticket in data.tickets'>

    <a class="list-group-item list-group-item-action" ng-class="{'ticket-claimed list-group-item list-group-item-action': ticket.claimed, 'list-group-item list-group-item-action': !ticket.claimed}">

        <h5 class="list-group-item-heading"> {{ticket.user.displayname}}</h5>
        <button class = 'btn btn-1' type = 'button' ng-show = '!ticket.preSolved && !ticket.ismine' ng-disabled = 'ticket.claimed' ng-click='claimTicket(ticket)'>Claim</button>

        <button class = 'btn btn-1' type = 'button' ng-show = 'ticket.preSolved && ticket.ismine'>Solved</button>
        <button class = 'btn btn-1' type = 'button' ng-show = 'ticket.preSolved && ticket.ismine'>Not Solved</button>


        <p class="list-group-item-text">{{ ticket.message }} </p>

    </a>

     </div>
 </div>



<form name='input-group' class='input-group' ng-submit= 'addTicket()'>
       <label for="select"> Select your location: </label>
       <select name= 'select' class="form-control" ng-model = "ticket.location" required>
                    <option value = 'Lecture Hall'>Lecture Hall</option>
                    <option value = 'Pairing Station'>Pairing Station</option>
                    <option value = 'Kitchen'>Kitchen</option>
                    <option value = 'Couch'>Couch</option>
                    <option value = 'Senior Zone'>Senior Zone</option>
                    <option value = 'The Hopper'>The Hopper</option>
                    <option value = 'The Dijkstra'>The Dijkstra</option>
                    <option value = 'The Ada'>The Ada</option>
                    <option value = 'Entrance Hall'>Entrance Hall</option>
       </select>
       <input name='ticket' class='input-text' type="text"
        ng-model="ticket.message"
        placeholder="Enter your question here" required/>


      <input class = 'btn-primary' type = 'submit' value = 'Add'>



</form>


    <button type="button" class="btn btn-default" ng-click='signout()'>Sign out</button>


</div>
