<!-- Queue template -->
<div id='big-container'>

	<div id='queueContainer' ng-controller='QueueController'>

  

	<div class="list-group">
	    <div class='ticket' ng-repeat='ticket in data.tickets | filter: {solved: false} | orderBy:"-id" '>
	    <a class="list-group-item list-group-item-action" ng-class="{'ticket-claimed list-group-item list-group-item-action': ticket.claimed, 'list-group-item list-group-item-action': !ticket.claimed}" >
<!-- ng-mouseenter="ticket.show = true" ng-mouseleave="ticket.show = false"  -->
	        <h5 class="list-group-item-heading" > {{ticket.user.displayname}}</h5>
	        <button class = 'btn btn-1' type = 'button' ng-show = '!ticket.ismine' ng-disabled = 'ticket.claimed' ng-click='claimTicket(ticket)'>Claim</button>

	         <button class = 'btn btn-1' type = 'button' ng-show = 'ticket.ismine && !ticket.preSolved' ng-disabled = 'ticket.claimed' ng-click='solveTicket(ticket)'>Delete</button>

	        <button class = 'btn btn-1' type = 'button' ng-show = 'ticket.preSolved && ticket.ismine' ng-click='solveTicket(ticket)'>Solved</button>
	        <button class = 'btn btn-1' type = 'button' ng-show = 'ticket.preSolved && ticket.ismine' ng-click='unsolveTicket(ticket)'>Not Solved</button>


	        <p class="list-group-item-text">{{ ticket.message }} </p>
<!-- 	        <p class="list-group-item-text">@ {{ ticket.location }} </p>
	        <p class="list-group-item-text">x {{ ticket.x }} </p>
	        <p class="list-group-item-text">y {{ ticket.y }} </p> -->

	    </a>
	    </div>
	</div>

	<form name='input-group' class='input-group' ng-submit= 'addTicket()'>
	    <label for="select"> Select your location: </label>
	        <select name= 'select' class="form-control" ng-model = "ticket.location" required>
	                    <option value = 'Lecture Hall'>Lecture Hall</option> <!-- x: 25-190; y: 50-100-->
	                    <option value = 'Pairing Station'>Pairing Station</option> <!-- x: 25-190; y: 140-210 -->
	                    <option value = 'Kitchen'>Kitchen</option><!-- x: 25-190 ; y: 240-320 -->
	                    <option value = 'Couch'>Couch</option><!-- x: 250-370  ; y: 230-325 -->
	                    <option value = 'Senior Zone'>Senior Zone</option><!-- x: 270-370 ; y: 370-610 -->
	                    <option value = 'The Hopper'>The Hopper</option><!-- x: 25-160 ; y: 470-550 -->
	                    <option value = 'The Dijkstra'>The Dijkstra</option><!-- x: 25-160 ; y: 590-655 -->
	                    <option value = 'The Ada'>The Ada</option><!-- x: 290-370 ; y: 655-760 -->
	                    <option value = 'Entrance Hall'>Entrance Hall</option><!-- x: 25-260 ; y: 690-760 -->
	        </select>

	        <input name='ticket' class='input-text' type="text"
	        ng-model="ticket.message"
	        placeholder="Enter your question here" required/>


	        <input class = 'submit btn btn-default' type = 'submit' value = 'Add'>

	</form>

         <button type="button" class="signout btn btn-default" ng-click='signout()'>Sign out</button>


	</div>

	<div id = 'map' ng-controller='QueueController'>
		<svg width="400" height="800" >
			<image x="0" y="0" width="400" height="800" xlink:href="../../../smaller.png" />
			<!-- 	<foreignobject  ng-repeat='ticket in data.tickets | filter: {solved: false}' ng-attr-x="{{ticket.x}}" ng-attr-y="{{ticket.y}}">
					<div id="sonar-emitter">
					<foreignobject  ng-repeat='ticket in data.tickets | filter: {solved: false}' ng-attr-x="{{ticket.x}}" ng-attr-y="{{ticket.y}}">
					<div id="sonar-wave"></div>
					</div>
					</foreignobject>
					
				</foreignobject> -->
		
				<!-- 	<circle class="sonar-emitter" ng-repeat='ticket in data.tickets | filter: {solved: false}' ng-attr-cx="{{ticket.x}}" ng-attr-cy="{{ticket.y}}" r= "8" fill="{{ticket.color}}">
					</circle>

					<circle class="sonar-wave" ng-repeat='ticket in data.tickets | filter: {solved: false}' ng-attr-cx="{{ticket.x}}" ng-attr-cy="{{ticket.y}}" r= "8" fill="{{ticket.color}}">
					</circle> -->
			<foreignobject  ng-repeat='ticket in data.tickets | filter: {solved: false}' ng-attr-x="{{ticket.x}}" ng-attr-y="{{ticket.y}}" >
				  <div id="holder" >
					<div class="dot" ng-style="{'border': '10px solid ' + ticket.color}" ></div>
					<div class="pulse" ng-style="{'border': '5px solid '+ ticket.color}" ></div>
				</div>
			</foreignobject>

			</image>
		</svg>
	</div>

	<footer>
    <p>&copy; 2016 Made with  &hearts; at Makersquare | BeaconDev</p>
    </footer>

</div>
