<!-- Queue template -->

<div ng-controller='QueueController'>
 <div class="list-group">
     <div class='ticket' ng-repeat='ticket in data.tickets'>

    <a class="list-group-item list-group-item-action" ng-class="{'ticket-claimed': ticket.claimed, 'list-group-item list-group-item-action': !ticket.claimed}">

        <h5 class="list-group-item-heading"> {{ticket.username}}</h5>
        <button class = 'btn btn-1' type = 'button' ng-disabled = 'ticket.claimed' ng-click='claimTicket(ticket)'>Claim</button>
        <p class="list-group-item-text">{{ ticket.message }} </p>

    </a>

     </div>
 </div>



<form name='input-group' class='input-group' ng-submit= 'addTicket()'>

     <input name='ticket' class='input-text' type="text"
        ng-model="ticket.message"
        placeholder="Enter your question here" required/>

      <input class = 'btn-primary' type = 'submit' value = 'Add'>

</form>


    <button type="button" class="btn btn-default" ng-click='signout()'>Sign out</button>


</div>