<!-- Signin page template -->
<style>
  body {
    background-image: url('../back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
  }
</style>
<div id="signin">
  <div class='logo'><img class='logoimg' alt="Logo" src="/../../logo.png" /></div>
  <h2 id="welcome">BEACON</h2>
  <br>
  <h5 id="support">Dynamic support for Makersquare students</h5>
  <div>
  	<div class="btn signoutb" role="group" aria-label="...">
      <button type='button' class='signinbtn btn btn-default' ng-click='signin()'>Sign in with GitHub</button>
    </div>
  </div>
</div>

<!-- <button class="btn btn-block btn-login-github waves-effect waves-light" alt="sign in" ng-click="authenticate()" >Sign in with github</button>   -->

